*{
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #474747;
}
.section_tittle{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section_dsc{
    color:  #757575;
    text-align: center;
    font-size: 18px;
}

/* common css end */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    
}
.nav_title{
color: #181818;
font-size: 45px;
font-weight: 800;
}
.nav_title span{
    color: #FD6E0A;
}
nav >ul {
    display: flex;
    align-items: center;
    
}
nav ul li{
    margin-right: 50px;
}

.btn{
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

/* header part */

.header_top{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;

}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile_pic{
    width: 500px;
}
.banner_greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;

}
.banner_tittle{
    font-size: 85px;
    font-weight: 700;
}
.banner_dsc{
    margin-bottom: 15px;
    line-height: 20px;
}
.banner_content{
    max-width: 500px;
}
/* about part */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}
.btn{
    margin-right: 5px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about_info_container{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.about_info{
    text-align: center;
}
#what_i_do_dsc{
    padding: 30px 150px;

}

.skill_container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}


.skill_dsc{
    color:  #757575;
}
.resume_coloum_tittle{
    color:  #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume_container{
    display: flex;
    gap: 50px;
}
.resume_item_info, .resume_item_dsc{
    color: #757575;
}
.rasume_item_tittle{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    
}
.resume_container hr{
    margin: 30px;
}
.resume_item_info{
    margin-bottom: 20px;
    margin-top: 0;
}
.download_cv{
    text-align: center;
    margin-top: 50px;
}
footer{
    margin-top: 120px;
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 230px;
}
.social_links a{
    margin-right: 25px;
}
.footer_coloum{
    width: 50%;
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    background: #FFF;
    border-radius: 5px;
    border: 0;
    width: 100%;
}